* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 8px;
  margin-top: 0;
  background-color: #233142;
  font-family: "Roboto", "Arial", sans;
}

.absolute-border {
  width: 10px;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  right: -1px;
  border-right: 10px solid #233142;
  z-index: 1;
}

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #233142;
  z-index: 5;
}

#splash img {
  display: block;
  margin: auto;
  margin-top: 42vh;
}

.selected-language {
  cursor: pointer;
  transition: all ease-in;
}

#language-icon {
  width: 15px;
  top: 1.5vw;
  left: 17px;
  position: fixed;
  z-index: 2;
}
.selected-language a {
  font-family: "Cutive Mono", "Courier New", Courier, monospace, sans-serif;
  top: 1.5vw;
  left: 37px;
  font-size: 14px;
  position: fixed;
  color: white;
  line-height: 1em;
  z-index: 2;
}
#selected:hover,
.languages a:hover {
  text-decoration: underline;
}

#up {
  visibility: hidden;
}

.languages {
  margin-top: 5px;
  visibility: hidden;
  background-color: rgba(35, 49, 66, 0.75);
  padding: 10px;
  padding-right: 20px;
  font-family: "Cutive Mono", "Courier New", Courier, monospace, sans-serif;
  top: 3.5vw;
  left: 15px;
  font-size: 14px;
  position: fixed;
  color: white;
  line-height: 2em;
  z-index: 3;
  cursor: pointer;
  transition: all ease-in;
}

#flag {
  background-color: #74a2dc;
  height: 20vh;
  width: 5vw;
  min-width: 50px;
  margin-left: 15%;
  display: inline-block;
  position: sticky;
  top: -15vh;
  margin-top: 0px;
  z-index: 2;
}
#flag img {
  width: 5vw;
  min-width: 50px;
  height: auto;
  background-color: #74a2dc;
  margin-top: 15vh;
  color: white;
  z-index: 2;
}

.tags {
  font-family: "Cutive Mono", "Courier New", Courier, monospace, sans-serif;
  font-size: 16px;
  position: fixed;
  top: 1.5vw;
  right: 4%;
  z-index: 2;
  margin-right: 15px;
}
.color-mode img {
  cursor: pointer;
  width: 20px;
  top: 1.4vw;
  right: 2%;

  position: fixed;
  z-index: 4;
}

#light {
  visibility: hidden;
}

.burger-menu img {
  top: 2vw;
  right: 4%;
  width: 20px;
  visibility: hidden;
  position: fixed;
  z-index: 4;
  cursor: pointer;
}

.burger-tags {
  transition: all ease-in;
  visibility: hidden;
  font-family: "Cutive Mono", "Courier New", Courier, monospace, sans-serif;
  font-size: 16px;
  position: fixed;

  background-color: rgba(35, 49, 66, 0.9);
  height: 100%;
  width: 100%;
  left: -1px;
  z-index: 3;
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
}

.burger-color-mode {
  margin-bottom: 20vh;
}
.burger-color-mode img {
  cursor: pointer;
  width: 20px;
  position: fixed;
  z-index: 3;
  display: block;
  margin-left: -10px;
}

#burger-light {
  visibility: hidden;
}

/*.body-background {
  overflow: hidden;
}*/

.navigate {
  margin-right: 5px;
  color: white;
  text-decoration: none;
  transition: all ease-in;
}

.navigate:focus {
  color: #74a2dc;
}

.navigate:hover {
  text-decoration: underline;
}

.name {
  height: calc(75vh - 5vw);
  background-color: #233142;
  margin: 0;
  padding: 0;
}

#name {
  font-family: "Major Mono Display", Helvetica, Arial, sans-serif;
  font-size: 72px;
  font-weight: 100;
  text-align: center;
  color: white;
  padding-top: 20vh;
  margin: 0 30px auto 30px;
  z-index: 100;
}

nav {
  position: fixed;
  right: 0;
  top: 53%;
  transform: translateY(-50%);
  z-index: 5;
  margin-right: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: block;
  margin: 15px;
  transition: transform 0.1s;
  z-index: 1;
}

.dot-img {
  width: 15px;
  position: absolute;
  background-color: #233142;
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.1s;
}

.bubbles {
  /*margin-top: calc(10vw- 40px);*/
  bottom: 170px;
  /*left: 4%;*/
  position: fixed;
  z-index: 2;
}

.bubble img {
  margin: 20px auto 0px 5px;
  position: fixed;
  width: 40px;
  height: auto;
  z-index: 2;
}

.bubbletag {
  visibility: hidden;
  width: 50px;
  font-size: 10px;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 2px 1px;
  margin-top: 32px;
  margin-left: 60px;
  position: fixed;
  background-color: #233142a2;
  z-index: 10;
}
.bubble:hover .bubbletag {
  visibility: visible;
}

.header {
  height: 5vw;
  margin-right: 1px;
  min-height: 50px;
  background-color: #233142;
  position: sticky;
  top: 0px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.AboutMe {
  background-color: white;
  /*overflow-x: hidden;*/
}

.about-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12vw;
}

.AboutMe span {
  font-family: "Major Mono Display", Helvetica, Arial, sans-serif;
  font-size: 72px;
  font-weight: 100;
  text-shadow: 1px 1px 4px gray;
  margin-left: -10px;
}

#AboutMe-info {
  font-size: 20px;
  padding-right: 3vw;
  width: 46vw;
}
.AboutMe img {
  width: 23vw;
  height: auto;
  float: right;
}

@media only screen and (max-width: 1150px) {
  #AboutMe-info {
    width: 100%;
  }
  .AboutMe img {
    margin-right: auto;
    margin-left: auto;
    width: 40vw;
  }
}

.darktriangle1 {
  /*overflow-x: hidden;*/
  margin: 0px;
  width: 0px;
  height: 0px;
  border-top: 15vw solid white;
  border-right: calc(100vw - 16px) solid #233142;
}
.lighttriangle1 {
  margin-top: -10vw;
  width: 0;
  height: 0;
  border-top: 15vw solid transparent;
  border-right: calc(100vw - 16px) solid #f5f5f5;
  margin-bottom: 0;
  padding-bottom: 0;
}

.grey {
  background-color: #f5f5f5;
}

h2 {
  margin-top: 0;
  font-family: "Major Mono Display", Helvetica, Arial, sans-serif;
  font-size: 72px;
  font-weight: 100;
  text-shadow: 1px 1px 4px gray;
  padding-top: 15vh;
  margin-left: 11.5vw;
}

.project {
  margin: auto 12vw auto 12vw;
}

h3 {
  font-family: "Cutive Mono", "Courier New", Courier, monospace, sans-serif;
  font-size: 30px;
  font-weight: 100;
}
p {
  font-size: 20px;
}

.technologies {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.technologies img {
  width: 60px;
}
.icon {
  margin-right: 30px;
}

#figma {
  width: 40px;
}

.icontag {
  visibility: hidden;
  width: 50px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 1px;
  margin-top: 23px;
  margin-left: -56px;
  position: absolute;
  background-color: #233142a2;
}

.icon:hover .icontag {
  visibility: visible;
}
iframe {
  max-width: 80vw;
  margin: 5vh auto 10vh auto;
  display: block;
}

.darktriangle2 {
  margin-top: 100px;
  width: 0;
  height: 0;
  border-top: 15vw solid transparent;
  border-left: calc(100vw - 16px) solid #233142;
}
.lighttriangle2 {
  margin: 0;
  margin-top: -10vw;
  width: 0;
  height: 0;
  border-top: 15vw solid transparent;
  border-left: calc(100vw - 16px) solid white;
  margin-bottom: 0;
  padding-bottom: 0;
}

.white {
  height: 80vh;
  background-color: white;
}

.Contact .info {
  margin: auto 13vw 20px 15vw;
}

.Contact a {
  margin: 25px auto 0px 30px;
  position: absolute;
  font-size: 20px;
  color: #3d628f;
}

#credits {
  font-family: "Cutive Mono", "Courier New", Courier, monospace, sans-serif;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 620px) {
  h2,
  #name,
  .AboutMe span {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  p,
  .AboutMe p,
  .Contact a {
    font-size: 16px;
  }

  .bubbles,
  .tags,
  .color-mode,
  .info img,
  nav,
  .selected-language,
  .languages {
    visibility: hidden;
  }

  .burger-tags,
  .burger-menu img {
    visibility: visible;
  }
  .Contact a {
    margin: 25px auto 0px 0px;
  }

  .Contact .info {
    margin: auto 0vw auto 0vw;
  }

  .technologies img {
    width: 30px;
  }
  .icon {
    margin-right: 20px;
  }
  .icontag {
    width: 50px;
    margin-top: 10px;
    margin-left: -40px;
  }

  .double {
    margin-top: 0px !important;
  }

  #latextag {
    margin-left: -40px !important;
    margin-top: 20px !important;
  }
  #figmatag {
    margin-top: 8px !important;
    margin-left: -36px !important;
  }
  #figma {
    width: 20px;
  }

  .project a img {
    width: 20px;
  }

  iframe {
    width: fit-content;
    height: fit-content;
  }
  .info a {
    margin: 0 !important;
  }
  #credits {
    font-size: 8px;
  }
}
